.vscode/**
.vscode-test/**
out/test/**
src/**
.gitignore
**/tsconfig.json
**/*.map
**/*.ts

vividus-studio-server/vividus-studio-plugin/**
vividus-studio-server/vividus-studio-target-definition/**
**/workspace/**
