<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <properties>
        <property name="pattern">%d [%t] %-5p %c - %m%n</property>
    </properties>
    <Appenders>
        <File name="file" fileName="output.log" bufferedIO="true">
            <PatternLayout pattern="${pattern}"/>
        </File>
        <VividusStudioLogAppender name="vividusStudioLogAppender">
            <PatternLayout pattern="${pattern}"/>
        </VividusStudioLogAppender>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="vividusStudioLogAppender"/>
            <AppenderRef ref="file"/>
        </Root>
    </Loggers>
</Configuration>
