name: VIVIDUS Studio CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Install JDK 17
        uses: actions/setup-java@v3.10.0
        with:
          distribution: 'temurin'
          java-version: 17
          cache: 'maven'

      - name: Build server
        run: |
          cd vividus-studio-server
          ./mvnw clean install

      - name: Install node_modules
        run: npm install

      - name: Extension Lint
        run: npm run lint

      - name: Extension Tests
        uses: GabrielBB/xvfb-action@v1.6
        with:
          run: npm test
      
      - name: Extension packaging
        run: |
          sudo npm install -g vsce
          vsce package
