name: VIVIDUS Studio CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: macos-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'maven'

      - name: Build server
        run: |
          cd vividus-studio-server
          ./mvnw clean install

      - name: Upload coverage reports to Codecov
        if: ${{ ! github.event.pull_request.head.repo.fork || github.ref == 'refs/heads/main' }}
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload coverage reports to Codecov
        if: ${{ github.event.pull_request.head.repo.fork }}
        uses: codecov/codecov-action@v5

      - name: Install node_modules
        run: npm install

      - name: Extension Lint
        run: npm run lint

      - name: Extension Tests
        uses: GabrielBB/xvfb-action@v1.7
        with:
          run: npm test

      - name: Extension packaging
        run: |
          sudo npm install -g @vscode/vsce
          vsce package
