name: VIVIDUS Studio Release

on:
  workflow_dispatch:
    inputs:
      release-version:
        required: true
        type: string
        description: The release version, e.g. 1.0.0

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          token: ${{ secrets.GH_RELEASE_TOKEN }}

      - name: Install JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: 21
          cache: 'maven'

      - name: Create release commit
        run: |
          git config --global user.email "uarlouski@gmail.com"
          git config --global user.name "Uladzislau Arlouski"

          npm version ${{ inputs.release-version }} -m "Release %s"

          RELEASE_LINE="[${{ inputs.release-version }}] - $(date --iso-8601)"
          sed -i "s/\[Unreleased\]/$RELEASE_LINE/g" CHANGELOG.md

          git add CHANGELOG.md
          git commit --amend --date=now --no-edit

      - name: Build server
        run: |
          cd vividus-studio-server
          ./mvnw clean install

      - name: Extension packaging
        run: |
          sudo npm install -g @vscode/vsce
          npm install
          vsce package

      - name: Publish to Visual Studio Marketplace
        uses: HaaLeo/publish-vscode-extension@v2
        with:
          pat: ${{ secrets.VS_MARKETPLACE_TOKEN }}
          registryUrl: https://marketplace.visualstudio.com
          extensionFile: vividus-studio-${{ inputs.release-version }}.vsix

      - name: Publish to GitHub
        run: git push

      - name: Publish to GitHub Release
        uses: softprops/action-gh-release@v2
        env:
          GITHUB_TOKEN: ${{ secrets.GH_RELEASE_TOKEN }}
        with:
          files: vividus-studio-${{ inputs.release-version }}.vsix
          tag_name: v${{ inputs.release-version }}
